
@import "normalize";
@import "materialize";
@import "helperclasses";

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input {
    color: white;
}

canvas {
    border: solid 1px #000;
    background-color: #fff;
    /* background: url('/grafx/lava.gif'); */
    cursor: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    float: left;
}

h1 {
    color: #fff;
}

body {
    background-color: rgb(35, 40, 48);
    color: white;
}

.page {
    min-height: 100vh;
    position: relative;
}

.page__inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#game, .match-list {
	display: none;
}

#game {
    position: relative;
    overflow: auto;
    width: 1000px;
    float: left;
}

#stats {
    display: none;
    width: 200px;
    float: left;
}

#open-room {
    margin-top: 10px;
    min-height: 400px;
    display: none;
}

.scoreboardarea {
    display: none;
    float: left;
}

.back-to-lobby {
    display: none;
}

.match-ending {
    float: none;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.cooldowns {
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: #000;
    color: white;

    th, td {
        padding: 5px;
    }
}

.errorMsg {
    border: solid 3px tomato;
    background-color: tomato;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: none;
}

.room {
    cursor: pointer;
    background-color: rgb(35, 40, 48);
    border: solid 2px #fff;
    margin-bottom: 5px;
    padding: 5px;
    margin-top: 0px;
}

.room:hover {
    background-color: #fff;
    color: rgb(35, 40, 48);
}

.ready-room {
    display: none;
}

.unready-room {
    display: none;
}

.joined-room {
    .ready-room, .unready-room {
        display: inline-block;
    }
}

.room-name {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    border: solid 2px #fff;
    width: 100%;
}

.player-list, .room-info {
    padding: 10px;
}

.room-controls {
    margin-bottom: 20px;
    margin-top: 40px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.room-list {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
