.text-uppercase {
	text-transform: uppercase;
}

.text-normalcase {
	text-transform: none;
}

.text-black {
	color: black;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.stack-xs {
	margin-bottom: 1rem;
}

.stack-sm {
	margin-bottom: 2rem;
}

.stack-md {
	margin-bottom: 3rem;
}